.profile {

}
.profile__bg img{
    width: 100%;
    height: 300px;
}
.infoContent{
    display: flex;
    padding: 20px;
}

.ava img{
    width: 200px;
    border-radius: 50%;
    border:1px solid #dd4c42;

}
.infoDesc{
    padding: 10px;
}

