.nav {
    background-color: #e8e6e4;
    padding: 20px;

}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav li {
    list-style-type: none;
    margin-bottom: 10px;
}
.nav a{
    color: #020927;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}