
.profile__bg img{
    width: 100%;
    height: 250px;
}
.infoContent{
    display: flex;
    padding: 20px;
}

.ava img{
    width: 200px;
    border-radius: 50%;

}
.infoDesc{
    padding: 10px;
}

