.nav {
    background-color: #F0CA3B;

}

.list {
    padding: 40px 0px;
    text-align: center;
}

.navTitle {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: #afa5bb;
    text-transform: uppercase;
    background-color: #00021B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item {
    list-style-type: none;
}

.itemLink {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.itemLink img{
    width: 20px;
    height: 20px;
}
.itemText{
    margin-left: 20px;
}

.itemLink:hover {
    background-color: #A88D29;
}