@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: #eaeaef;
}
.container{
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}
.app-body{
    max-width: 1400px;
    margin: 0 auto 10px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
