@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{box-sizing: border-box}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: #eaeaef;
}
p,ul,li{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}
.app-body{
    max-width: 1400px;
    margin: 0 auto 10px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-column-gap: 30px;
}
.sidebar{
    max-width: 280px;
    width: 100%;
}
.app-content{
    width: 100%;
    max-width: 1100px;
}

