@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{box-sizing: border-box}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: #eaeaef;
}
p,ul,li{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1360px;
    padding: 0 15px;

    margin: 0 auto;
}
.app-wrapper{
    position: relative;
    background-color: #E5E5E5;

}
.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app-body{
    max-width: 1400px;
    margin: 60px auto 0px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 2.2fr 7fr 2.5fr;
    /*grid-column-gap: 10px;*/
    position: relative;

}
.sidebar{
    max-width: 250px;
    width: 100%;
    position: sticky;
    top: 60px;
    left: 0;
    height: 100vh;

    background-color: #F0CA3B;

}
.app-content{
    width: 100%;
    max-width: 820px;
    padding: 0px 10px 0;
}
.aside{
    max-width: 270px;
    width: 100%;
}

