.dialogs {

}

.dialogsInner {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsList {
    background-color: #e5e5e5;
    /*box-shadow: 10px 0px 15px rgba(0, 2, 27, 0.5);*/
    z-index: 5;
    max-width: 280px;


}

.userPhoto img {
    border-radius: 50%;
    width: 50px;
}

.dialog {
    max-width: 280px;
}

.dialog a {
    color: #818181;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
}

.dialog p {
    margin: 0 0 0 15px;

}

.dialog a:hover {
    color: #00021B;
    /*background-color: #fff;*/
}


.messages {
    position: relative;
}
.messagesInner{
    padding: 20px;
    background-color: #818181;
    overflow-y: auto;
}


.typeMessage{
    position: sticky;
    bottom: -5px;
    left: 0;

}
.typeMessageInner{
    position: relative;
}
.messageArea{

    padding: 20px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    resize: none;
    width: 100%;
    outline: none;
    overflow-y: hidden;
    
}
.messageArea:focus{
    background-color: #e5e5e5;
    color: black;
}
.sendBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #f0ca3b;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.message {
    /*padding: 15px;*/
    margin-bottom: 10px;
}

.message:nth-child(1).p {
    text-align: right;
}

.messageText {
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    padding: 15px;
}