.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    /*border: 1px solid #00021B;*/
    border-radius: 5px;

}

.dialogsList {
    background-color: #00021B;
    border-radius: 5px;
    box-shadow: 10px 0px 15px rgba(0, 2, 27, 0.5);
    z-index: 5;
    max-width: 280px;

}

.userPhoto img {
    border-radius: 50%;
    width: 50px;
}

.dialog{
    max-width: 280px;
}
.dialog a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding:12px 20px;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00021B;
}

.dialog p{
    margin: 0 0 0 15px;

}

.dialog a:hover {
    color: #00021B;
    background-color: #fff;
}


.messages {
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #AC6AFF;

}

.message {
    /*padding: 15px;*/
    margin-bottom: 10px;
}
.message:nth-child(1).p{
    text-align: right;
}
.messageText{
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    padding: 15px;
}