.nav ul{
    margin: 0;
    background-color: #00021B;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
}
.navTitle{
    margin: 0 0 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #afa5bb;
    border-bottom: 1px  solid #afa5bb;
    text-transform: uppercase;
}
.item{
    list-style-type: none;
    margin-bottom: 10px;
}

.item a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}
.item a:hover{
    color: #AC6AFF;
}